<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peem16.samms">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name="com.example.peem16.samms.LoginActivity"

            android:label="samms"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Register"></activity>
        <activity android:name=".EditProfile"></activity>
        <activity android:name=".BuyDetail"></activity>
        <activity android:name=".Basket"></activity>
        <activity android:name=".Quatation"></activity>
        <activity android:name=".Quatationdetail"></activity>
        <activity android:name=".Mysystem"></activity>
        <activity android:name=".MysystemDetail"></activity>


    </application>

</manifest>